.Container {
    background-color: #F0E6F7; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 50px;
    font-family: serif; 
}


h1, h2 {
    color: #333; 
    margin-bottom: 20px;
    text-align: center;
}

input[type="text"] {
    width: 400px; 
    padding: 15px 20px;
    border: none;
    border-radius: 25px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-size: 16px;
    outline: none; 
}

.generate-button {
    background-color: #A052FF; 
    color: white;
    border: none;
    border-radius: 25px; 
    padding: 12px 30px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 0 40px 0; 
    transition: background-color 0.3s;
}

.result-display-box, textarea {
    width: 80%; 
    max-width: 600px; 
    min-height: 300px;
    background-color: white;
    border-radius: 30px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1); 
    padding: 30px;
    border: none;
    resize: none; 
    font-size: 16px;
    line-height: 1.6;
    margin-top: 20px;
}